@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .play-state-paused {
    animation-play-state: paused;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
