@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-glow-blob {
    position: absolute;
    width: 50vw; /* fallback */
    width: 50% max(500px);
    height: 500px;
    filter: blur(80px);
    opacity: 0.2;
    border-radius: 50%;
    z-index: -1;
  }
  .glow-1 {
    background: radial-gradient(#d946ef, transparent 70%);
    top: -100px;
    left: -100px;
  }
  .glow-2 {
    background: radial-gradient(#06b6d4, transparent 70%);
    top: 20%;
    right: -100px;
  }

  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
  }
  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }

  /* Mobile menu panel transition */
  #mobile-menu-panel {
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #818cf8, #d946ef, #22d3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
